[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[user]
	name = Drew Rawitz
	email = email@drewrawitz.com
[gitbutler]
	aiModelProvider = openai
